.bg-image{
    
background-size: cover; /* Adjust to cover the entire container */
background-repeat: no-repeat; /* Do not repeat the image */
background-attachment: fixed; /* Keep the background fixed when scrolling */

}