<div mat-dialog-title>
    <h1> بيانات اللوحة المعدنية </h1>
</div>
<div mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label> نوع المركبة </mat-label>
            <mat-select>
              <mat-option>
              </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label> حالة المركبة </mat-label>
            <mat-select>
              <mat-option>
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label> الأرقام </mat-label>
            <input matInput type="number">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label> الحروف </mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label> التاريخ </mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label> اسم المالك </mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label> عنوان المالك </mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label> رقم الهاتف </mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label> الرقم القومي </mat-label>
            <input matInput type="text">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="actions">
    <button mat-raised-button color="primary"> حفظ </button>
    <button mat-raised-button> إالغاء </button>
</div>