
<div class="flex-column align-center gap3 mg-top20">
  <div class="flex-column align-center gap3 width90">
    
    <div class="flex-row width100 align-center justify-content-between font20px bg-white card-radius card-padding">
      <div class="flex-row align-center gap5 width100">
        <div class="center gap1">
          <span class="material-symbols-rounded center cursor" (click)="onNext()">
            arrow_forward_ios
          </span>
          <span class="center">
            {{filterObj.pageIndex}}            
          </span>
          <span class="material-symbols-rounded center cursor" (click)="onPrevious()">
            arrow_back_ios
          </span>  
        </div>
        <div class="width100">
            <label class="font10px"> عدد العناصر بالصفحة </label>
            <select [(ngModel)]="filterObj.pageSize" (change)="getExecutedPlates()" class="input-box width100px">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="500">500</option>
              <option value="1000">1000</option>
            </select>
        </div>
      </div>

      <button (click)="print('executedPlatesTable')" class="center gap1 width100 bg-primary white padding1 card-radius font20px bold700 width200px">
        <span class="material-symbols-rounded"> print </span>
        <span> طباعة </span>
      </button>

      <div class="flex-row justify-content-end width100">
        <button (click)="openAddEditExecutedPlateForm(null)" class="center gap1 bg-primary white padding1 card-radius font20px bold700">
          <span class="material-symbols-rounded"> add_box </span>
          <span> إضافة لوحة </span>
        </button>
      </div>
    </div>

    <div class="center gap3 width100 bg-white card-padding card-radius">
      
        
      <div class="width100">
        <label> نوع المركبة </label>
        <select [(ngModel)]="filterObj.carTypeId" class="input-box width100" (ngModelChange)="updateCarType()">
          <option *ngFor="let val of carTypes" [value]="val.id"> {{val.type}} </option>
        </select>
      </div>
      
      <div class="width100">
        <label> حالة المركبة </label>
        <select [(ngModel)]="filterObj.carStateId" class="input-box width100" (ngModelChange)="updateCarState()">
          <option *ngFor="let val of carStates" [value]="val.id"> {{val.state}} </option>
        </select>
      </div>

      <div class="width100">
        <label> سنة اللجنة </label>
        <select [(ngModel)]="filterObj.executionYear" class="input-box width100">
          <option *ngFor="let val of years" [value]="val"> {{val}} </option>
        </select>
      </div>

      <div class="width100">
        <label> رقم اللجنة </label>
        <select [(ngModel)]="filterObj.executionNumber" class="input-box width100">
          <option *ngFor="let val of numbers" [value]="val"> {{val}} </option>
        </select>
      </div>

      <div class="width100">
        <label> الحروف </label>
        <input [(ngModel)]="filterObj.letters" class="input-box width100">
      </div>
      
      <div class="width100">
        <label> الأرقام </label>
        <input [(ngModel)]="filterObj.numbers" class="input-box width100">
      </div>

      <button type="submit" (click)="getExecutedPlates()" class="center bg-white cursor mg-top20">
        <span class="material-symbols-rounded primary">search</span>
      </button>    
    </div>
  
    <div id="executedPlatesTable" class="width100">
      <div class="center gap3 width100 font20px">
        <span> رقم اللجنة: ({{filterObj.executionNumber}}) </span>
        <span> سنة اللجنة: ({{filterObj.executionYear}}) </span>
        <span> النوع: ({{ selectedCarType }}) </span>
        <span> الحالة: ({{ selectedCarState }}) </span>
      </div>
      <table class="mg-top20">
        <thead>
          <tr>
            <th class="no-print hide">ID</th>
            <th>الحروف</th>
            <th>الأرقام</th>
            <th>التاريخ</th>
            <th class="no-print">تعديل</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of executedPlates">
            <td class="no-print hide">{{ row.id }}</td>
            <td>{{ row.letters }}</td>
            <td>{{ row.numbers }}</td>
            <td>{{ row.date | date }}</td>
            <td class="no-print center gap1 ">
              <button class="primary bg-white" (click)="openAddEditExecutedPlateForm(row)">
                <span class="material-symbols-rounded">edit</span>
              </button>
              <button class="danger bg-white" (click)="deleteExecutedPlate(row.id)">
                <span class="material-symbols-rounded">delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      
    </div>

  </div>
</div>