<div class="flex-row z-index100 width100 bg-white padding1 primary font20px bold700">
  <a routerLink="/entry-page">
    <img src="./assets/logo.png" class="logo"/>
  </a>
  
  <div class="flex-row justify-content-end align-center gap7 width100">
    <div class="hover flex-column align-center">
      <a routerLink="/daily-report" class="center gap1"> 
        <span class="material-symbols-rounded"> calendar_month </span>
        <span class="font20px"> اليومية </span>
      </a>
    </div>
    <div class="hover flex-column align-center">
      <a routerLink="/plates" class="center gap1">
        <span class="material-symbols-rounded"> pin </span>
        <span class="font20px"> اللوحات المعدنية </span>
      </a>
    </div>
    <div class="hover flex-column align-center">
      <a routerLink="/executed-plates" class="center gap1">
        <span class="material-symbols-rounded"> delete_forever </span>
        <span class="font20px"> لجان الإعدام </span>   
      </a>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
