<mat-toolbar color="primary">
  <span> اللوحات المعدنية </span>
  <span class="example-spacer"></span>
  <div class="flex-row gap20px">
    <button mat-raised-button (click)="openAddEditPlateForm()">
      إضافة لوحة
    </button>
    <button mat-raised-button>
      اليومية  
    </button>
  </div>
</mat-toolbar>
<!-- src/app/app.component.html -->

<nav>
  <a routerLink="/daily-report" routerLinkActive="active">Daily Report</a>
  <a routerLink="/plate-add-edit" routerLinkActive="active">Plate</a>
</nav>
<router-outlet></router-outlet>

<div class="flex-column center mg-top20px">

  <div class="center gap10px">
    <mat-form-field appearance="outline">
      <mat-label>البحث </mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

  <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit()" class="center gap10px">
    <mat-form-field appearance="outline">
      <mat-label> نوع المركبة </mat-label>
      <mat-select formControlName="carTypeId">
          <mat-option *ngFor="let val of carTypes" [value]="val.id"> {{val.type}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label> حالة المركبة </mat-label>
        <mat-select formControlName="carStateId">
            <mat-option *ngFor="let val of carStates" [value]="val.id"> {{val.state}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-fab color="primary" type="submit" class="mg-bottom20px">
      <mat-icon>search</mat-icon>
    </button>    

  </form>
    
    
  </div>
    
  <div class="center gap20px mg-top20px font20px">
    <span> {{ carTypeValue }}  -  {{ carStateValue }} </span>
  </div>


  <div class="width90 mg-top20px">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id" class="hide">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="letters">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> الحروف </th>
        <td mat-cell *matCellDef="let row"> {{row.letters}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="numbers">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> الأرقام </th>
        <td mat-cell *matCellDef="let row"> {{row.numbers}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> التاريخ </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>

      <ng-container matColumnDef="ownerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم المالك </th>
        <td mat-cell *matCellDef="let row"> {{row.ownerName}} </td>
      </ng-container>

      <ng-container matColumnDef="ownerNationalId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> الرقم القومي </th>
        <td mat-cell *matCellDef="let row"> {{row.ownerNationalId}} </td>
      </ng-container>

      <ng-container matColumnDef="ownerPhone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> رقم الهاتف </th>
        <td mat-cell *matCellDef="let row"> {{row.ownerPhone}} </td>
      </ng-container>

      <ng-container matColumnDef="ownerAdress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> العنوان </th>
        <td mat-cell *matCellDef="let row"> {{row.ownerAdress}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> تعديل </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">لا يوجد بيانات مطابقة للبحث عن:  "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>


