.example-spacer {
    flex: 1 1 auto;
  }
  
  .width90 {
    width: 90%;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-column {
    flex-direction: column;
  }

  .gap10px {
    gap: 10px;
  }

  .mg-top20px {
    margin-top: 20px;
  }

  .mg-bottom20px {
    margin-bottom: 20px;
  }

  .search-icon {
    color: white;
    width: 50px;
    height: 55px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hide {
    display: none !important;
  }

  table tr:nth-child(odd) td{
    background-color: #716c6c08;
}

.gap20px {
  gap: 20px;
}

.flex-row {
  display: flex;
}

.font20px{
  font-size: 20px;
}