<div class="flex-row width100 bg-white padding1 primary font20px bold700">
  <img src="./assets/logo.png" class="logo"/>
  
  <div class="flex-row justify-content-end align-center gap7 width100">
    <div class="hover flex-column align-center">
      <a routerLink="/daily-report" class="center gap1"> 
        <span class="material-symbols-rounded"> calendar_month </span>
        <span class="font20px"> اليومية </span>
      </a>
    </div>
    <div class="hover flex-column align-center">
      <a routerLink="/plates" class="center gap1">
        <span class="material-symbols-rounded"> pin </span>
        <span class="font20px"> اللوحات المعدنية </span>
      </a>
    </div>
    <div class="hover flex-column align-center">
      <a routerLink="/executed-plates" class="center gap1">
        <span class="material-symbols-rounded"> delete_forever </span>
        <span class="font20px"> لجان الإعدام </span>   
      </a>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<!--

  <div class="flex-column center mg-top20px">
    
    <div class="center gap10px">
      <mat-form-field appearance="outline">
        <mat-label>البحث </mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
      
      <form [formGroup]="searchForm" (ngSubmit)="onSearchFormSubmit()" class="center gap10px">
        <mat-form-field appearance="outline">
          <mat-label> نوع المركبة </mat-label>
          <mat-select formControlName="carTypeId">
            <mat-option *ngFor="let val of carTypes" [value]="val.id"> {{val.type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> حالة المركبة </mat-label>
          <mat-select formControlName="carStateId">
            <mat-option *ngFor="let val of carStates" [value]="val.id"> {{val.state}}
            </mat-option>
          </mat-select>
        </mat-form-field>

    <button mat-fab color="primary" type="submit" class="mg-bottom20px">
      <mat-icon>search</mat-icon>
    </button>    
    
  </form>
  
  
</div>

<div class="center gap20px mg-top20px font20px">
  <span> {{ carTypeValue }}  -  {{ carStateValue }} </span>
</div>


<div class="width90 mg-top20px">
  <table mat-table [dataSource]="dataSource" matSort>
    
    <ng-container matColumnDef="id" class="hide">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="letters">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> الحروف </th>
      <td mat-cell *matCellDef="let row"> {{row.letters}} </td>
    </ng-container>
    
    <ng-container matColumnDef="numbers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> الأرقام </th>
      <td mat-cell *matCellDef="let row"> {{row.numbers}} </td>
    </ng-container>
    
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> التاريخ </th>
      <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
    </ng-container>
    
    <ng-container matColumnDef="ownerName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> اسم المالك </th>
      <td mat-cell *matCellDef="let row"> {{row.ownerName}} </td>
    </ng-container>
    
    <ng-container matColumnDef="ownerNationalId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> الرقم القومي </th>
      <td mat-cell *matCellDef="let row"> {{row.ownerNationalId}} </td>
    </ng-container>
    
    <ng-container matColumnDef="ownerPhone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> رقم الهاتف </th>
        <td mat-cell *matCellDef="let row"> {{row.ownerPhone}} </td>
      </ng-container>
      
      <ng-container matColumnDef="ownerAdress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> العنوان </th>
        <td mat-cell *matCellDef="let row"> {{row.ownerAdress}} </td>
      </ng-container>
      
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> تعديل </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">لا يوجد بيانات مطابقة للبحث عن:  "{{input.value}}"</td>
      </tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>



-->