
<div class="flex-column align-center gap3 mg-top20">
  <div class="flex-column align-center gap3 width90">
    
    <div class="flex-row gap7 width100 align-center justify-content-between font20px bg-white card-radius card-padding">
      <div class="flex-row align-center gap5 width100">
        <div class="center gap1">
          <span class="material-symbols-rounded center cursor" (click)="onNext()">
            arrow_forward_ios
          </span>
          <span class="center">
            {{filterObj.pageIndex}}            
          </span>
          <span class="material-symbols-rounded center cursor" (click)="onPrevious()">
            arrow_back_ios
          </span>  
        </div>
        <div class="width100">
            <label class="font10px"> عدد العناصر بالصفحة </label>
            <select [(ngModel)]="filterObj.pageSize" (change)="getPlates()" class="input-box width100px">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="500">500</option>
              <option value="1000">1000</option>
            </select>
        </div>
      </div>

      <button (click)="print('platesTable')" class="center gap1 bg-primary white padding1 card-radius font20px bold700 width200px">
        <span class="material-symbols-rounded no-print"> print </span>
        <span> طباعة </span>
      </button>

      <div class="flex-row justify-content-end width100">
        <button (click)="openAddEditPlateForm(null)" class="center gap1 bg-primary white padding1 card-radius font20px bold700">
          <span class="material-symbols-rounded no-print"> add_box </span>
          <span> إضافة لوحة </span>
        </button>
      </div>
    </div>

    <div class="center gap3 width100 bg-white card-padding card-radius">
      
        
      <div class="width100">
        <label> نوع المركبة </label>
        <select [(ngModel)]="filterObj.carTypeId" class="input-box width100" (ngModelChange)="updateCarType()">
          <option *ngFor="let val of carTypes" [value]="val.id"> {{val.type}} </option>
        </select>
      </div>
      
      <div class="width100">
        <label> حالة المركبة </label>
        <select [(ngModel)]="filterObj.carStateId" class="input-box width100" (ngModelChange)="updateCarState()">
          <option *ngFor="let val of carStates" [value]="val.id"> {{val.state}} </option>
        </select>
      </div>

      <div class="width100">
        <label> الحروف </label>
        <input [(ngModel)]="filterObj.letters" class="input-box width100">
      </div>
      
      <div class="width100">
        <label> الأرقام </label>
        <input [(ngModel)]="filterObj.numbers" class="input-box width100">
      </div>

      <div class="width100">
        <label> اسم المالك </label>
        <input [(ngModel)]="filterObj.ownerName" class="input-box width100">
      </div>

      <div class="width100">
        <label> الرقم القومي </label>
        <input [(ngModel)]="filterObj.ownerNationalId" class="input-box width100">
      </div>

        <button type="submit" (click)="getPlates()" class="center bg-white cursor mg-top20">
          <span class="material-symbols-rounded primary">search</span>
        </button>    
    </div>
  
    <div id="platesTable" class="width100">
      <div class="center gap3 width100 font20px">
        <span> النوع: ({{ selectedCarType }}) </span>
        <span> الحالة: ({{ selectedCarState }}) </span>
      </div>
      <table class="mg-top20">
        <thead>
          <tr>
            <th (click)="toggleNoPrintClass('ID')" [ngClass]="{'no-print': isNoPrintClassEnabled('ID')}">الرقم
              <button class="no-print" (click)="toggleNoPrintClass('ID')"> </button>
              <i class="material-symbols-rounded no-print success cursor cursor" [ngClass]="{'enabled': isNoPrintClassEnabled('ID')}">print</i>
              <i class="material-symbols-rounded no-print danger cursor" [ngClass]="{'disabled': !isNoPrintClassEnabled('ID')}">print_disabled</i>
            </th>
            <th (click)="toggleNoPrintClass('letters')" [ngClass]="{'no-print': isNoPrintClassEnabled('letters')}">الحروف
              <button class="no-print" (click)="toggleNoPrintClass('letters')"> </button>
              <i class="material-symbols-rounded no-print success cursor" [ngClass]="{'enabled': isNoPrintClassEnabled('letters')}">print</i>
              <i class="material-symbols-rounded no-print danger cursor" [ngClass]="{'disabled': !isNoPrintClassEnabled('letters')}">print_disabled</i>
            </th>
            <th (click)="toggleNoPrintClass('numbers')" [ngClass]="{'no-print': isNoPrintClassEnabled('numbers')}">الأرقام
              <button class="no-print" (click)="toggleNoPrintClass('numbers')"> </button>
              <i class="material-symbols-rounded no-print success cursor" [ngClass]="{'enabled': isNoPrintClassEnabled('numbers')}">print</i>
              <i class="material-symbols-rounded no-print danger cursor" [ngClass]="{'disabled': !isNoPrintClassEnabled('numbers')}">print_disabled</i>
            </th>
            <th (click)="toggleNoPrintClass('date')" [ngClass]="{'no-print': isNoPrintClassEnabled('date')}">التاريخ
              <button class="no-print" (click)="toggleNoPrintClass('date')"> </button>
              <i class="material-symbols-rounded no-print success cursor" [ngClass]="{'enabled': isNoPrintClassEnabled('date')}">print</i>
              <i class="material-symbols-rounded no-print danger cursor" [ngClass]="{'disabled': !isNoPrintClassEnabled('date')}">print_disabled</i>
            </th>
            <th (click)="toggleNoPrintClass('ownerName')" [ngClass]="{'no-print': isNoPrintClassEnabled('ownerName')}">اسم المالك
              <button class="no-print" (click)="toggleNoPrintClass('ownerName')"> </button>
              <i class="material-symbols-rounded no-print success cursor" [ngClass]="{'enabled': isNoPrintClassEnabled('ownerName')}">print</i>
              <i class="material-symbols-rounded no-print danger cursor" [ngClass]="{'disabled': !isNoPrintClassEnabled('ownerName')}">print_disabled</i>
            </th>
            <th (click)="toggleNoPrintClass('ownerNationalId')" [ngClass]="{'no-print': isNoPrintClassEnabled('ownerNationalId')}">الرقم القومي
              <button class="no-print" (click)="toggleNoPrintClass('ownerNationalId')"> </button>
              <i class="material-symbols-rounded no-print success cursor" [ngClass]="{'enabled': isNoPrintClassEnabled('ownerNationalId')}">print</i>
              <i class="material-symbols-rounded no-print danger cursor" [ngClass]="{'disabled': !isNoPrintClassEnabled('ownerNationalId')}">print_disabled</i>
            </th>
            <th (click)="toggleNoPrintClass('ownerPhone')" [ngClass]="{'no-print': isNoPrintClassEnabled('ownerPhone')}">رقم الهاتف
              <button class="no-print" (click)="toggleNoPrintClass('ownerPhone')"> </button>
              <i class="material-symbols-rounded no-print success cursor" [ngClass]="{'enabled': isNoPrintClassEnabled('ownerPhone')}">print</i>
              <i class="material-symbols-rounded no-print danger cursor" [ngClass]="{'disabled': !isNoPrintClassEnabled('ownerPhone')}">print_disabled</i>
            </th>
            <th (click)="toggleNoPrintClass('ownerAdress')" [ngClass]="{'no-print': isNoPrintClassEnabled('ownerAdress')}">العنوان
              <button class="no-print" (click)="toggleNoPrintClass('ownerAdress')"></button>
              <i class="material-symbols-rounded no-print success cursor" [ngClass]="{'enabled': isNoPrintClassEnabled('ownerAdress')}">print</i>
              <i class="material-symbols-rounded no-print danger cursor" [ngClass]="{'disabled': !isNoPrintClassEnabled('ownerAdress')}">print_disabled</i>
            </th>
            <th class="no-print center gap1">تعديل</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of plates; let i = index">
            <td [ngClass]="{'no-print': isNoPrintClassEnabled('ID')}">{{ i + 1 }}</td>
            <td [ngClass]="{'no-print': isNoPrintClassEnabled('letters')}">{{ row.letters }}</td>
            <td [ngClass]="{'no-print': isNoPrintClassEnabled('numbers')}">{{ row.numbers }}</td>
            <td [ngClass]="{'no-print': isNoPrintClassEnabled('date')}">{{ row.date | date }}</td>
            <td [ngClass]="{'no-print': isNoPrintClassEnabled('ownerName')}">{{ row.ownerName }}</td>
            <td [ngClass]="{'no-print': isNoPrintClassEnabled('ownerNationalId')}">{{ row.ownerNationalId }}</td>
            <td [ngClass]="{'no-print': isNoPrintClassEnabled('ownerPhone')}">{{ row.ownerPhone }}</td>
            <td [ngClass]="{'no-print': isNoPrintClassEnabled('ownerAdress')}">{{ row.ownerAdress }}</td>
            <td class="no-print center gap1">
              <button class="primary bg-white" (click)="openAddEditPlateForm(row)">
                <span class="material-symbols-rounded no-print">edit</span>
              </button>
              <button class="danger cursor bg-white" (click)="deletePlate(row.id)">
                <span class="material-symbols-rounded no-print">delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      
    </div>

  </div>
</div>