
<div class="flex-column align-center gap3 mg-top20">
  <div class="flex-column align-center gap3 width90">
    
    <div class="flex-row width100 align-center justify-content-between font20px bg-white card-radius card-padding">
      <div class="flex-row align-center gap5 width100">
        <div class="center gap1">
          <span class="material-symbols-rounded center cursor" (click)="onNext()">
            arrow_forward_ios
          </span>
          <span class="center">
            {{filterObj.pageIndex}}            
          </span>
          <span class="material-symbols-rounded center cursor" (click)="onPrevious()">
            arrow_back_ios
          </span>  
        </div>
        <div class="width100">
            <label class="font10px"> عدد العناصر بالصفحة </label>
            <select [(ngModel)]="filterObj.pageSize" (change)="getPlates()" class="input-box width100px">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="500">500</option>
              <option value="1000">1000</option>
            </select>
        </div>
      </div>
      <!--<span class="flex-row justify-content-end width100 font20px bold700 primary padding1"> {{ carTypeValue }}  -  {{ carStateValue }} </span>-->
      <div class="flex-row justify-content-end width100">
        <button (click)="openAddEditPlateForm(null)" class="center gap1 bg-primary white padding1 card-radius font20px bold700">
          <span class="material-symbols-rounded"> add_box </span>
          <span> إضافة لوحة </span>
        </button>
      </div>
    </div>

    <div class="center gap3 width100 bg-white card-padding card-radius">
      
        
      <div class="width100">
        <label> نوع المركبة </label>
        <select [(ngModel)]="filterObj.carTypeId" class="input-box width100">
          <option *ngFor="let val of carTypes" [value]="val.id"> {{val.type}} </option>
        </select>
      </div>
      
      <div class="width100">
        <label> حالة المركبة </label>
        <select [(ngModel)]="filterObj.carStateId" class="input-box width100">
          <option *ngFor="let val of carStates" [value]="val.id"> {{val.state}} </option>
        </select>
      </div>

      <div class="width100">
        <label> الحروف </label>
        <input [(ngModel)]="filterObj.letters" class="input-box width100">
      </div>
      
      <div class="width100">
        <label> الأرقام </label>
        <input [(ngModel)]="filterObj.numbers" class="input-box width100">
      </div>

      <div class="width100">
        <label> اسم المالك </label>
        <input [(ngModel)]="filterObj.ownerName" class="input-box width100">
      </div>

      <div class="width100">
        <label> الرقم القومي </label>
        <input [(ngModel)]="filterObj.ownerNationalId" class="input-box width100">
      </div>

        <button type="submit" (click)="getPlates()" class="center bg-white cursor mg-top20">
          <span class="material-symbols-rounded primary">search</span>
        </button>    
    </div>
  
    <div id="platesTable" class="width100">
      <table>
        <thead>
          <tr>
            <th class="no-print ">ID</th>
            <th>الحروف</th>
            <th>الأرقام</th>
            <th>التاريخ</th>
            <th>اسم المالك</th>
            <th>الرقم القومي</th>
            <th>رقم الهاتف</th>
            <th>العنوان</th>
            <th class="no-print">تعديل</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of plates">
            <td class="no-print ">{{ row.id }}</td>
            <td>{{ row.letters }}</td>
            <td>{{ row.numbers }}</td>
            <td>{{ row.date | date }}</td>
            <td>{{ row.ownerName }}</td>
            <td>{{ row.ownerNationalId }}</td>
            <td>{{ row.ownerPhone }}</td>
            <td>{{ row.ownerAdress }}</td>
            <td class="no-print center gap1 ">
              <button class="primary bg-white" (click)="openAddEditPlateForm(row)">
                <span class="material-symbols-rounded">edit</span>
              </button>
              <button class="danger bg-white" (click)="deletePlate(row.id)">
                <span class="material-symbols-rounded">delete</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      
    </div>
    

    <button (click)="print('platesTable')" class="center gap1 width10 bg-primary white padding1 card-radius font20px bold700 mg-bottom50">
      <span class="material-symbols-rounded"> print </span>
      <span> طباعة </span>
    </button>

  </div>
</div>